<h1>Create a Post</h1>
<form method="post" action="/posts">
  <p><label for="name">Post Name:</label>
    <input type="text" name="post[name]" id="name"></p>
  <p><label for="content">Post Content:</label>
    <input type="text" name="post[content]" id="content"></p>

  <button type="submit" value="submit">Submit</button>
</form>
